body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}
h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
  padding-top: 10px;
  margin: 0px;
}
h2 {
  padding: 0px;
  margin: 0px;
}
form {
  padding: 30px;
}
section {
  text-align: center;
}
button {
  width: fit-content;
  margin: auto;
  font-size: 30px;
  cursor: pointer;
  background-color:cornflowerblue;
  border: 2px solid gray;
}
input {
  width: 230px;
  font-size: 30px;
  background-color:transparent;
  text-align: center;
}
.start,
.restart {
  display: none;
}
.showing {
  display: block;
}
ul {
  list-style: none;
  padding: 0px;
}
li {
  font-size: 20px;
}