body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}
section {
  padding: 50px;
}
button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  cursor: pointer;
  background-color:cornflowerblue;
  border: 2px solid gray;
}
form {
  text-align: center;
}
input {
  width: 230px;
  font-size: 30px;
  background-color:transparent;
  text-align: center;
}